<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body class = "main">
    <h1>Posts</h1>
    <ol class="all-posts-container">
      <% postList.results.forEach(function(post,indx) {%>
      <li class="cards-item">
        <div class="card">
          <img src="<%=post.imageUrl%>" id="post_image" />
          <ul class="card-content">
            <li><p class="card-text"><%= post.message %></p></li>
            <li>
              <p class="card-text">
                <strong>CreatedAt:</strong> <%=
                format(post.createdAt,"yyyy-MM-dd HH:mm:ss")%>
              </p>
            </li>
            <li>
              <p class="card-text">
                <strong>postedBy:</strong> <%=post.postedBy.username%>
              </p>
            </li>
            <li>
              <p class="card-text">
                <strong>likedBy:</strong>
                <%=post.likedBy.map((user)=>user.username).join(", ")%>
              </p>
            </li>
            <li>
              <p class="card-text">
                <strong>dislikedBy:</strong>
                <%=post.dislikedBy.map((user)=>user.username).join(", ")%>
              </p>
            </li>
            <li>
              <div class="buttons-container">
                <form method="post" action="/posts/<%=post.id%>/like">
                  <button type="submit" class="button" id="like">like</button>
                </form>
                <form method="post" action="/posts/<%=post.id%>/dislike">
                  <button type="submit" class="button" id="dislike">
                    dislike
                  </button>
                </form>
                <button class="button" id="color-button_<%=indx%>">
                  Change Color
                </button>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <% }); %>
    </ol>
    <%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
    <% } %> | <%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
    <% } %>
  </body>
  <%- include('_footer') -%>
</html>
