<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <h1>Posts</h1>
    <div class="all-posts-container">
      <% postList.results.forEach(function(post) {%>
      <div class="card">
        <img src="<%=post.imageUrl%>" id="post_image" />
        <div class="card-content">
          <p><%= post.message %></p>
          <p>CreatedAt: <%= format(post.createdAt, "yyyy-MM-dd HH:mm:ss")%></p>
          <p>postedBy: <%=post.postedBy.username%></p>
          <p>
            likedBy: <%=post.likedBy.map((user)=>user.username).join(", ")%>
          </p>
          <p>
            dislikedBy: <%=post.dislikedBy.map((user)=>user.username).join(", ")%>
          </p>
        </div>
        <form method="post" action="/posts/<%=post.id%>/like">
          <button type="submit" class="button" id="like">like</button>
        </form>
        <form method="post" action="/posts/<%=post.id%>/dislike">
          <button type="submit" class="button" id="dislike">dislike</button>
        </form>
      </div>
      <% }); %>
    </div>
    <%if (postList.next) { %>
    <a href="<%= postList.next %>">Next</a>
    <% } %> | <%if (postList.previous) { %>
    <a href="<%= postList.previous %>">Previous</a>
    <% } %>
  </body>
  <%- include('_footer') -%>
</html>
