<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body class="main">
    <img src="<%=coverImageUrl%>" id="cover-picture" />

    <div class="user-details">
      <div class="profile">
        <img src="<%=profileImageUrl%>" id="profile-picture" />
      </div>
      <div class="details">
        <p id="name"><%= name %></p>
        <p class="sub-title" id="username"><%= username%></p>
        <p id="email"><%=email%></p>
      </div>
    </div>
    <div class="posts">
      <p class="title"><%=name%>'s Posts</p>
      <div class="cards-container">
        <%posts.forEach((post)=>{%>
        <div class="card">
          <img src="<%=post.imageUrl%>" />
          <div class="card-content">
            <p class="sub-title"><%=username%></p>
            <p class="secondary"><%=post.createdAt%></p>
            <p class="card-message"><%=post.message%></p>
          </div>
        </div>

        <%});%>
      </div>
    </div>
    <div class="posts liked">
      <p class="title">Posts <%=name%> Liked</p>
      <div class="cards-container">
        <%likes.forEach((post)=>{%>
        <div class="card">
          <img src="<%=post.imageUrl%>" />
          <div class="card-content">
            <p class="sub-title"><%=username%></p>
            <p class="secondary"><%=post.createdAt%></p>
            <p class="card-message"><%=post.message%></p>
          </div>
        </div>

        <%});%>
      </div>
    </div>

    <div class="posts disliked">
      <p class="title">Posts <%=name%> Disliked</p>
      <div class="cards-container">
        <%dislikes.forEach((post)=>{%>
        <div class="card">
          <img src="<%=post.imageUrl%>" />
          <div class="card-content">
            <p class="sub-title"><%=username%></p>
            <p class="secondary"><%=post.createdAt%></p>
            <p class="card-message"><%=post.message%></p>
          </div>
        </div>

        <%});%>
      </div>
    </div>
  </body>
  <%- include('_footer') -%>
</html>
